@{
    ViewData["Title"] = "Contact Info";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any questions about our products or services you can call or email.
    <br />If you have feedback regarding our site, please use the Feedback form.</p>
<h2>Phone: 780-420-6969</h2>
<h2>Email: info@notapple.com</h2>
