@model part4.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpu" class="control-label"></label>
                <input asp-for="Cpu" class="form-control" />
                <span asp-validation-for="Cpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage" class="control-label"></label>
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Display" class="control-label"></label>
                <input asp-for="Display" class="form-control" />
                <span asp-validation-for="Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gpu" class="control-label"></label>
                <input asp-for="Gpu" class="form-control" />
                <span asp-validation-for="Gpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OS" class="control-label"></label>
                <input asp-for="OS" class="form-control" />
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
