@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
        Welcome to NotApple. Navigate to the
        shop tab to see all of our products. You can customize and upgrade many of the
        components.<br />
    </p>
</div>